<template>

  <div id="app">
    <calendar-sidebar
      :events="events"
      :calendars="calendars"
      :weekends.sync="weekends"
      :newdate.sync="newdate"
      :user="user"
    />
    <div class="calendar">
      <full-calendar
        class="full-calendar"
        :options="config"
        ref="fullCalendar"
      >
        <template #eventContent="{ event }">
          {{ event.title }}<br/>
          <i v-if="!event.allDay">{{ event.start.toLocaleTimeString().slice(0,5) }}</i>
          <i v-if="!event.allDay && event.end"> à {{ event.end.toLocaleTimeString().slice(0,5) }}</i>
        </template>
      </full-calendar>
    </div>
  </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import CalendarSidebar from '@/components/CalendarSidebar.vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import listPlugin from '@fullcalendar/list'
import interactionPlugin from '@fullcalendar/interaction'
import { mapState } from 'vuex'

export default {
  name: 'Agenda',
  components: {
    FullCalendar,
    CalendarSidebar
  },
  ...mapState([
    'isLayoutMobile',
    'isLayoutAsideHidden',
    'isLayoutBoxed',
    'isNavBarVisible',
    'navBarColor',
    'isAsideVisible',
    'isAsideExpanded',
    'isAsideMobileExpanded',
    'isAsideRightVisible',
    'isAsideRightActive',
    'userName',
    'hasUpdates'
  ]),
  data: function () {
    return {
      calendarSidebarOpened: true,
      weekends: true,
      newdate: new Date(),
      user: this.$store.user,
      events: [
        { calendar: 1, id: 1, title: 'TRUCMUCHE / MACHIN (délibéré)', start: new Date('May 26, 2021 00:00:00'), allDay: true, editable: false },
        { calendar: 84, id: 2, title: 'TRUCMUCHE / MACHIN (délibéré)', start: new Date('May 26, 2021 00:00:00'), end: new Date('May 28, 2021 21:00:00'), allDay: true, editable: false },
        { calendar: 3, id: 3, title: 'AGRILINE / JARDINERIE JAY (délibéré)', start: new Date('May 24, 2021 08:30:00'), end: new Date('May 25, 2021 10:00:00'), allDay: false, editable: true },
        { calendar: 72, id: 4, title: 'AGRILINE / JARDINERIE JAY (délibéré)', start: new Date('May 27, 2021 08:30:00'), end: new Date('May 29, 2021 12:00:00'), allDay: false, editable: true }
      ],
      calendars: [
        { server: 'demoptimus.fr', user: 'lionel.vest@adaris.org', id: 1, title: 'Lionel VEST (Audiences)', color: '#fa573c', visible: true },
        { server: 'demoptimus.fr', user: 'lionel.vest@adaris.org', id: 84, title: 'Lionel VEST (Reproductions)', color: '#7bd148', visible: true },
        { server: 'demoptimus.fr', user: 'lionel.vest@adaris.org', id: 3, title: 'Lionel VEST (Rendez-vous)', color: '#9a9cff', visible: false },
        { server: 'demoptimus.fr', user: 'lionel.vest@adaris.org', id: 72, title: 'Lionel VEST (Perso)', color: '#FBE983', visible: true },
        { server: 'demoptimus.fr', user: 'romain.winczewski@adaris.org', id: 73, title: 'Romain WINCZEWSKI (Audiences)', color: '#FF0000', visible: true }
      ]
    }
  },
  watch: {
    newdate: function () {
      this.$refs.fullCalendar.getApi().gotoDate(this.newdate)
    }
  },
  computed: {
    config () {
      return {
        ...this.configOptions,
        ...this.eventHandlers
      }
    },
    configOptions () {
      return {
        editable: true,
        selectable: true,
        selectMirror: true,
        dayMaxEvents: true,
        weekNumbers: true,
        contentHeight: 'calc( 100vh - 190px )',
        weekText: 'S',
        nowIndicator: true,
        firstDay: 1,
        // scrollTime: '06:00:00',
        calendars: this.calendars,
        events: this.events.map(event => ({ ...event, backgroundColor: this.calendars[this.calendars.findIndex(calendar => calendar.id === event.calendar)].color, borderColor: this.calendars[this.calendars.findIndex(calendar => calendar.id === event.calendar)].color })),
        weekends: this.weekends,
        longPressDelay: 750,
        locale: 'fr',
        plugins: [dayGridPlugin, timeGridPlugin, interactionPlugin, listPlugin],
        headerToolbar: {
          left: 'prev today next',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listYear'
        },
        buttonText: {
          today: 'Aujourd\'hui',
          month: 'Mois',
          week: 'Semaine',
          day: 'Jour',
          list: 'Liste'
        },
        allDayText: '',
        initialView: window.innerWidth > 480 ? 'timeGridWeek' : 'timeGridDay'
      }
    },
    eventHandlers () {
      return {
        dateClick: this.onDateClick,
        eventClick: this.onEventClick,
        eventDrop: this.onEventDrop,
        eventResize: this.onEventDrop,
        select: this.onDateSelect
      }
    }
  },
  methods: {
    onDateClick (payload) {
      const title = prompt('Merci d\'indiquer un titre pour ce nouvel évènement')
      if (!title) {
        this.$buefy.toast.open({
          message: 'Vous n\'avez pas renseigné de titre',
          type: 'is-danger',
          queue: false
        })
        payload.view.calendar.unselect()
        return
      }

      const calendar = parseInt(prompt('Merci d\'indiquer dans quel agenda ajouter l\'évènement'))
      if (this.calendars.findIndex(calendar2 => calendar2.id === calendar) === -1) {
        this.$buefy.toast.open({
          message: 'Cet agenda n\'existe pas',
          type: 'is-danger',
          queue: false
        })
        payload.view.calendar.unselect()
        return
      }

      payload.view.calendar.unselect()
      const id = (this.events.length + 1) * 10
      const { start, end, allDay } = payload
      return this.createEvent({
        id,
        title,
        start,
        end,
        allDay,
        calendar
      })
    },
    onDateSelect (payload) {
      return this.onDateClick(payload)
    },
    onEventClick ({ event }) {
      const confirmed = confirm(`Are you sure you want to delete the event '${event.title}'?`)
      if (!confirmed) {
        return
      }
      return this.deleteEvent(event.id)
    },
    onEventDrop ({ event }) {
      return this.updateEvent(event)
    }
  }
}
</script>

<style scoped>
    #app {
      display: flex;
      height: 100%;
      font-family: Roboto;
      font-size: 14px;
    }
    .calendar {
      flex: 1;
      padding: 2em;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      #app {
        display: flex;
        height: 100%;
        font-family: Roboto;
        font-size: 12px;
        max-width:100%
      }
      .calendar {
        flex: 1;
        padding: 0;
        max-width:100%;
      }
    }
</style>
