<template>
  <card-component title="Partages de l'agenda" icon="share-variant" style="text-align:center">

    <div v-for="authorization in authorizations" :key="authorization.id">
      <b-field :label="authorization.user">
        <b-tooltip position="is-bottom" delay="750" type="is-info">
          <template v-slot:content style="text-align:left">
            <b>VOIR</b><br/>Permet de voir si la personne est occupée,<br/> mais sans pouvoir lire la description des évènements<br/><br/>
            <b>LIRE</b><br/>Permet de voir les évènements, y compris leur description,<br/> mais sans pouvoir les modifier<br/><br/>
            <b>MODIFIER</b><br/> Permet de voir les évènements, y compris leur description<br/> ainsi que de les modifier, de les supprimer ou d'en créer
          </template>
          <b-steps v-model="authorization.id" :has-navigation="false" :mobile-mode="null" size="is-small" style="margin-right:10px;width:250px">
            <b-step-item label="Voir" icon="eye-off-outline" :value="authorization.id+'_1'" clickable type="is-success"></b-step-item>
            <b-step-item label="Lire" icon="eye-outline" :value="authorization.id+'_2'" clickable type="is-success"></b-step-item>
            <b-step-item label="Modifier" icon="table-eye" :value="authorization.id+'_3'" clickable type="is-success"></b-step-item>
          </b-steps>
        </b-tooltip>
      </b-field>
      <div class="divider"/>
    </div>
    <br/>
    <b-button>OK</b-button>
  </card-component>
</template>

<script>
import CardComponent from '@/components/CardComponent'
export default {
  name: 'CalendarSharingEditor',
  components: {
    CardComponent
  },
  data () {
    return {
      isLoading: false,
      id: 1,
      server: 'adaris.org',
      owner: 'lionel.vest@adaris.org',
      name: 'Lionel VEST (Audiences)',
      color: '#FF0000',
      authorizations:
      [
        { id: 1, user: 'antoine.bon@adaris.org', view: true, read: false, write: false },
        { id: 2, user: 'romain.winczewski@adaris.org', view: true, read: true, write: false }
      ]
    }
  },
  props: {
    description: {
      type: String,
      default: 'test'
    }
  },
  methods: {
    submit () {
      this.isLoading = true
      setTimeout(() => {
        this.isLoading = false
        this.$buefy.snackbar.open({
          message: 'Updated',
          queue: false
        }, 500)
      })
    }
  }
}

</script>

<style>
.b-steps
{
  margin-bottom:-40px;
}
.step-item:not(.is-active):not(.is-previous) div.step-marker
{
  background-color:hsl(348, 86%, 61%) !important;
}

.step-item:not(:first-child)::before, .step-item:only-child::before
{
  background: linear-gradient(to left, #f14668 50%, #48c774 50%);
  background-size:200% 100%;
  background-position:right bottom;
}

.step-item.is-active div.step-marker
{
  background-color:hsl(141, 53%, 53%) !important;
  color:#FFFFFF !important;
  border-color:#FFFFFF !important;
}

.step-item:not(.is-active):not(.is-previous) .step-title
{
  font-weight:400 !important;
  color:#f14668;
}

.step-item.is-active .step-title, .step-item.is-previous .step-title
{
  font-weight:400 !important;
  color:#48c774;
}

:empty.divider:before { margin-right: 0; } :empty.divider:after { margin-left: 0; }
</style>
