<template>
  <card-component title="Modifier un agenda" icon="settings">
    <b-field label="Serveur :">
      <b-input v-model="cal.server" disabled></b-input>
    </b-field>
    <b-field label="Propriétaire :">
      <b-input v-model="cal.user" disabled></b-input>
    </b-field>
    <b-field label="Nom :">
      <b-input v-model="cal.title"></b-input>
    </b-field>
    <b-field label="Couleur :">
      <v-swatches v-model="cal.color" :swatches="colors" swatch-size="32" :swatch-style="{margin:'4px'}" show-fallback fallback-input-type="color" inline text-advanced show-checkbox/>
    </b-field>
     <div class="has-text-centered">
      <b-button type="is-success" icon-left="check" rounded style="margin:20px 20px 0 20px" @click="submit()">OK</b-button>
      <b-button type="is-danger" icon-left="delete" rounded style="margin:20px 20px 0 20px">DELETE</b-button>
    </div>
  </card-component>
</template>

<script>
import CardComponent from '@/components/CardComponent'
import VSwatches from 'vue-swatches'
export default {
  name: 'CalendarEditor2',
  props: ['calendar'],
  components: {
    CardComponent, VSwatches
  },
  data () {
    return {
      isLoading: false,
      colors: ['#CCA6AC', '#FA573C', '#FBE983', '#16A765', '#4986E7', '#CD74E6', '#F691B2', '#FF7537', '#B3DC6C', '#42D692', '#9A9CFF', '#AC725E', '#F83A22', '#FFAD46', '#7BD148', '#9FE1E7', '#B99AFF', '#C2C2C2', '#D06B64', '#FAD165', '#92E1C0', '#9FC6E7', '#A47AE2', '#CABDBF']
    }
  },
  computed: {
    cal: function () {
      this.$buefy.snackbar.open({
        message: JSON.stringify(this.calendar, null, '<br/>'),
        queue: false,
        indefinite: true
      }, 500)
      return this.calendar
    }
  },
  methods: {
    submit () {
      this.isLoading = true
      setTimeout(() => {
        this.isLoading = false
        this.$buefy.snackbar.open({
          message: 'Updated',
          queue: false
        }, 500)
      })
    }
  }
}
</script>

<style>
.vue-swatches__fallback__input
{
  width:0;
  height:0;
  margin:0 !important;
  padding:16px !important;
  border-radius:8px;
  border:0;
  background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.vue-swatches__fallback__wrapper
{
  margin:0 !important;
  padding:4px !important;
}

.vue-swatches__wrapper
{
  display:flex;
  flex-wrap: wrap;
  width:320px;
  white-space: normal !important;
}

.vue-swatches__swatch
{
  padding: 5px 10px;
}

</style>
