<template calendarSidebarOpened>
  <div>

    <span v-if="!calendarSidebarOpened" class="config-box-left icon trigger is-large" @click="calendarSidebarOpened = true; calendarSidebarToggle()">
      <i class="mdi mdi-calendar mdi-36px"></i>
    </span>

    <b-sidebar
        type="is-light"
        :fullheight="true"
        :fullwidth="false"
        :overlay="false"
        :right="false"
        position="static"
        :open="calendarSidebarOpened"
        v-bind:class="{ 'is-calendar-expanded': calendarSidebarOpened }"
      >

      <div style="text-align:right;margin-right:4px;cursor:pointer" @click="calendarSidebarOpened = false; calendarSidebarToggle()">
        <i class="mdi mdi-24px mdi-close"></i>
      </div>

      <div class="calendar-sidebar" style="margin-top:-11px">

        <section class="quick-toggles" style="text-align:center">
          <label>
            <b-checkbox v-model="weekends" @input="$emit('update:weekends', weekends)">
              Afficher les week-ends
            </b-checkbox>
          </label>
        </section>

        <section class="quick-toggles" style="text-align:center">
          <b-datepicker style="padding:0;margin-top:5px"
            inline
            size="is-tiny"
            :first-day-of-week="1"
            v-model="newdate"
            @input="$emit('update:newdate', newdate)"
          />
        </section>

        <section class="calendars-list">
          <h2>Agendas</h2>
          <div class="field" v-for="calendar in calendars" :key="calendar.id">
            <label class="switch is-rounded calendar-selector">
              <input type="checkbox" @mouseenter="$refs.swatch1.focus()" @click="calendar.visible = !calendar.visible" :checked="calendar.visible ? true : false">
              <span class="check" :style="[calendar.visible ? { backgroundColor: calendar.color } : {border: '2px solid' + calendar.color}]"></span>
              <input v-model="calendar.title" readonly style="border:0;background:transparent;font-size:0.85rem;margin-left:8px;width:286px"/>
            </label>
            <div>
              <b-icon v-if="calendar.user === 'lionel.vest@adaris.org'" icon="share-variant" custom-size="mdi-18px" @click.native="openCalendarSharingEditor(calendar)" style="cursor:pointer"></b-icon>
              <b-icon icon="settings" custom-size="mdi-18px" @click.native="openCalendarEditor(calendar)" style="cursor:pointer;right:0px"></b-icon>
              <div style="float:right;margin-left:2px;margin-top:4px;border:1px solid #000000;border-radius:8px;max-height:16px;max-width:16px;background-image:conic-gradient(from 90deg,violet,indigo,blue,green,yellow,orange,red,violet">
                <input type="color" v-model="calendar.color" style="opacity:0;position:relative;top:-6px;left:-1px;width:16px;height:16px;cursor:pointer"/>
              </div>
            </div>
          </div>
        </section>

        <section class="events-list">
          <h2>Evènements ({{ events.length }})</h2>
          <ul>
            <li v-for="event in events" :key="event.id">
              <b>{{ event.title }}</b><br/>
              <i>{{ getFormattedDate(event) }}</i>
            </li>
          </ul>
        </section>

      </div>
    </b-sidebar>
  </div>
</template>

<script>
import { format } from 'date-fns'
import CalendarEditor from '@/components/CalendarEditor'
import CalendarSharingEditor from '@/components/CalendarSharingEditor'

export default {
  name: 'CalendarSidebar',
  props: {

    calendars: Array,
    events: Array
  },
  data () {
    return {
      weekends: true,
      newdate: new Date(),
      open: false,
      overlay: true,
      fullheight: true,
      fullwidth: false,
      right: false,
      calendarSidebarOpened: false,
      CalendarEditorOpen: false,
      CalendarSharingEditorOpen: false,
      colors: ['#CCA6AC', '#FA573C', '#FBE983', '#16A765', '#4986E7', '#CD74E6', '#F691B2', '#FF7537', '#B3DC6C', '#42D692', '#9A9CFF', '#AC725E', '#F83A22', '#FFAD46', '#7BD148', '#9FE1E7', '#B99AFF', '#C2C2C2', '#D06B64', '#FAD165', '#92E1C0', '#9FC6E7', '#A47AE2', '#CABDBF']
    }
  },
  methods: {
    getFormattedDate (event) {
      if (event.allDay) {
        return format(event.start, 'd/MM/yyyy')
      } else {
        return 'de ' + format(event.start, 'd/MM/yyyy HH:ss') + ' à ' + format(event.end, 'd/MM/yyyy HH:ss')
      }
    },
    calendarSidebarToggle () {
      return this.$store.commit('calendarRedraw')
    },
    openCalendarEditor (calendar) {
      this.$buefy.modal.open({
        parent: this,
        component: CalendarEditor,
        hasModalCard: true,
        trapFocus: true,
        props: { calendar: calendar },
        destroyOnHide: true
      })
    },
    openCalendarSharingEditor (calendar) {
      this.$buefy.modal.open({
        parent: this,
        component: CalendarSharingEditor,
        hasModalCard: true,
        trapFocus: true,
        props: { calendar: calendar },
        destroyOnHide: true
      })
    }
  }
}

</script>

<style>
 .calendar-selector + div
  {
    float:right;
    position:relative;
    top:-26px;
  }

@media only screen and (min-device-width : 1280px)
{
  .calendar-selector + div
  {
    visibility:hidden;
  }

  .calendar-selector:hover + div
  {
  visibility:visible;
  }

  .calendar-selector + div:hover
  {
  visibility:visible;
  }
}
</style>
