<template>
  <div>
    <modal-box :is-active="isModalActive" :trash-object-name="trashObjectName" @confirm="trashConfirm"
               @cancel="trashCancel"/>
    <b-table
      :checked-rows.sync="checkedRows"
      :checkable="checkable"
      :loading="isLoading"
      draggable-column
      @columndragstart="columndragstart"
      @columndrop="columndrop"
      @columndragover="columndragover"
      @columndragleave="columndragleave"
      :paginated="paginated"
      :per-page="perPage"
      :striped="true"
      :bordered="true"
      :narrowed="true"
      :hoverable="true"
      :sort-multiple="multiColumnSortingEnabled"
      :data='clients'>
      <b-table-column cell-class="has-no-head-mobile is-image-cell" v-slot="props">
        <div class="image">
          <img :src="props.row.avatar" class="is-rounded">
        </div>
      </b-table-column>
      <b-table-column label="Nom" field="name" sortable searchable>
         <template v-slot:searchable="props">
           <b-input v-model="props.filters[props.column.field]" placeholder="Recherche..." style="width:100%" icon="magnify" size="is-small" />
         </template>
         <template v-slot="props">
           <small>{{ props.row.name }}</small>
         </template>
      </b-table-column>
      <b-table-column label="Société" field="company" sortable searchable>
         <template #searchable="props">
           <b-input v-model="props.filters[props.column.field]" placeholder="Recherche..." icon="magnify" size="is-small" />
         </template>
         <template v-slot="props">
           <small>{{ props.row.company }}</small>
         </template>
      </b-table-column>
      <b-table-column label="Ville" field="city" sortable searchable>
        <template #searchable="props">
           <b-input v-model="props.filters[props.column.field]" placeholder="Recherche..." icon="magnify" size="is-small" />
         </template>
         <template v-slot="props">
           <small>{{ props.row.city }}</small>
         </template>
      </b-table-column>
      <b-table-column cell-class="is-progress-col" label="Avancement" field="progress" sortable v-slot="props" centered>
        <progress class="progress is-small is-primary" :value="props.row.progress" max="100">{{ props.row.progress }}</progress>
      </b-table-column>
      <b-table-column label="Création" v-slot="props" centered>
        <small :title="props.row.created">{{ new Date(props.row.created).toLocaleDateString() }}</small>
      </b-table-column>
      <b-table-column label="Actions" custom-key="actions" cell-class="is-actions-cell" v-slot="props" centered>
        <div class="buttons is-centered is-flex-wrap-nowrap" >
          <router-link :to="{name:'client.edit', params: {id: props.row.id}}" class="button is-small is-primary">
            <b-icon icon="account-edit" size="is-small" custom-size="mdi-18px"/>
          </router-link>
          <button class="button is-small is-danger" type="button" @click.prevent="trashModal(props.row)">
            <b-icon icon="trash-can" size="is-small" custom-size="mdi-18px"/>
          </button>
        </div>
      </b-table-column>

      <section class="section" slot="empty">
        <div class="content has-text-grey has-text-centered">
          <template v-if="isLoading">
            <p>
              <b-icon icon="dots-horizontal" size="is-large"/>
            </p>
            <p>Fetching data...</p>
          </template>
          <template v-else>
            <p>
              <b-icon icon="emoticon-sad" size="is-large"/>
            </p>
            <p>Nothing's here&hellip;</p>
          </template>
        </div>
      </section>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
import ModalBox from '@/components/ModalBox'

export default {
  name: 'ClientsTableSample',
  components: { ModalBox },
  props: {
    dataUrl: {
      type: String,
      default: null
    },
    checkable: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isModalActive: false,
      trashObject: null,
      clients: [],
      isLoading: false,
      paginated: false,
      perPage: 15,
      multiColumnSortingEnabled: true,
      checkedRows: []
    }
  },
  computed: {
    trashObjectName () {
      if (this.trashObject) {
        return this.trashObject.name
      }

      return null
    }
  },
  mounted () {
    if (this.dataUrl) {
      this.isLoading = true
      axios
        .get(this.dataUrl)
        .then(r => {
          this.isLoading = false
          if (r.data && r.data.data) {
            if (r.data.data.length > this.perPage) {
              this.paginated = true
            }
            this.clients = r.data.data
          }
        })
        .catch(e => {
          this.isLoading = false
          this.$buefy.toast.open({
            message: `Error: ${e.message}`,
            type: 'is-danger'
          })
        })
    }
  },
  methods: {
    trashModal (trashObject) {
      this.trashObject = trashObject
      this.isModalActive = true
    },
    trashConfirm () {
      this.isModalActive = false
      this.$buefy.snackbar.open({
        message: 'Confirmed',
        queue: false
      })
    },
    trashCancel () {
      this.isModalActive = false
    },
    columndragstart (payload) {
      this.draggingColumn = payload.column
      this.draggingColumnIndex = payload.index
      payload.event.dataTransfer.effectAllowed = 'copy'
    },
    columndragover (payload) {
      payload.event.dataTransfer.dropEffect = 'copy'
      payload.event.target.closest('th').classList.add('is-selected')
      payload.event.preventDefault()
    },
    columndragleave (payload) {
      payload.event.target.closest('th').classList.remove('is-selected')
      payload.event.preventDefault()
    },
    columndrop (payload) {
      payload.event.target.closest('th').classList.remove('is-selected')
      const droppedOnColumnIndex = payload.index
      this.$buefy.toast.open(`Moved ${this.draggingColumn.field} from column ${this.draggingColumnIndex + 1} to ${droppedOnColumnIndex + 1}`)
    }
  }
}
</script>
