<template>
  <div v-if="isConfigBoxVisible" class="config-box">
    <span v-if="!isOpen" class="icon trigger is-large" @click="isOpen = true">
      <i class="mdi mdi-settings mdi-36px"></i>
    </span>
    <div class="config-wrapper" v-else>
      <b-field label="Barre de notification">
        <b-button size="is-small" @click="toggleUpdatesBar">
          <b-icon icon="bell" custom-size="default"/>
          <span>Afficher / Cacher</span>
        </b-button>
      </b-field>
      <b-field label="Disposition">
        <radio-picker :options="{default:'Menu réduit', expanded:'Menu large', boxed:'Boîte fixe', wide:'Large'}" :addons="false" v-model="layout" @input="setLayout"/>
      </b-field>
      <b-field label="Barre supérieure">
        <radio-picker :options="{default:'Blanche', 'is-black':'Noire', 'is-dark':'Sombre', 'is-light':'Claire'}" :addons="false" v-model="navBarColor" @input="setNavBarColor"/>
      </b-field>
      <b-field label="Barre latérale">
        <radio-picker :options="{'is-white':'Blanche', 'is-black':'Noire', 'is-dark':'Sombre', 'is-light':'Claire'}" :addons="false" v-model="asideMenuColor" @input="setAsideMenuColor"/>
      </b-field>
      <span class="icon is-medium close-button" @click="isOpen = false">
        <i class="mdi mdi-24px mdi-close"></i>
      </span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import RadioPicker from '@/components/RadioPicker'

export default {
  name: 'ConfigBox',
  components: {
    RadioPicker
  },
  data () {
    return {
      isOpen: false,
      layout: 'default',
      navBarColor: 'is-dark'
    }
  },
  computed: mapState([
    'isAsideRightVisible',
    'isOverlayVisible',
    'isLayoutMobile',
    'isConfigBoxVisible',
    'asideMenuColor'
  ]),
  methods: {
    setLayout (layout) {
      this.$store.commit('layoutBoxedToggle', false)

      if (layout === 'default') {
        this.$store.commit('asideStateToggle', false)
      } else if (layout === 'expanded') {
        this.$store.commit('asideStateToggle', true)
      } else if (layout === 'boxed') {
        this.$store.commit('layoutBoxedToggle', true)
      } else if (layout === 'wide') {
        this.$store.commit('layoutWideToggle', true)
      }
    },
    setNavBarColor (color) {
      this.$store.commit('setNavBarColor', color !== 'default' ? color : null)
    },
    setAsideMenuColor (color) {
      this.$store.commit('setAsideMenuColor', color)
    },
    toggleUpdatesBar () {
      this.$store.dispatch('asideRightToggle')
    }
  },
  watch: {
    isLayoutMobile (newVal) {
      if (newVal) {
        this.layout = 'default'
      }
    }
  }
}
</script>
