<template>
  <div id="app" :class="{'container has-boxed-layout':isLayoutBoxed}">
    <nav-bar/>
    <aside-menu
      :menu="menu"
      @menu-click="menuClick"
      :class="{'has-secondary':!!menuSecondary}" />
    <aside-menu
      v-if="menuSecondary"
      :menu="menuSecondary"
      :is-secondary="true"
      :label="menuSecondaryLabel"
      :icon="menuSecondaryIcon"
      @menu-click="menuClick"
      @close="menuSecondaryClose"/>
    <router-view/>
    <aside-right/>
    <config-box/>
    <!--<footer-bar/>-->
    <overlay @overlay-click="overlayClick"/>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState } from 'vuex'
import NavBar from '@/components/NavBar'
import AsideMenu from '@/components/AsideMenu'
// import FooterBar from '@/components/FooterBar'
import Overlay from '@/components/Overlay'
import AsideRight from '@/components/AsideRight'
import ConfigBox from '@/components/ConfigBox'

export default {
  name: 'App',
  components: {
    ConfigBox,
    AsideRight,
    Overlay,
    // FooterBar,
    AsideMenu,
    NavBar
  },
  data () {
    return {
      menuSecondary: null,
      menuSecondaryLabel: null,
      menuSecondaryIcon: null
    }
  },
  computed: {
    menu () {
      return [
        'General',
        [
          {
            to: '/',
            icon: 'desktop-mac',
            label: 'Tableau de bord'
          }
        ],
        'Cabinet',
        [
          {
            to: '/tables',
            label: 'Dossiers',
            icon: 'folder',
            updateMark: false
          },
          {
            to: '/clients',
            label: 'Clients',
            icon: 'account-circle',
            updateMark: false
          },
          {
            to: '/agenda',
            label: 'Agenda',
            icon: 'calendar-month-outline'
          }],
        'Comptabilité',
        [
          {
            label: 'Dropdown',
            icon: 'arrow-down-bold-circle',
            menu: [
              {
                href: '#void',
                label: 'Sub-item One'
              },
              {
                href: '#void',
                label: 'Sub-item Two'
              }
            ]
          },
          {
            label: 'Submenus',
            icon: 'view-list',
            menuSecondaryKey: 'submenu-1',
            menuSecondaryIcon: 'view-list',
            menuSecondaryLabel: 'Example',
            menuSecondary: [
              'Something',
              [
                {
                  icon: 'view-list',
                  href: '#void',
                  label: 'Sub-item One'
                },
                {
                  icon: 'view-list',
                  href: '#void',
                  label: 'Sub-item Two'
                }
              ],
              'Dropdown',
              [
                {
                  label: 'Submenus',
                  icon: 'view-list',
                  menu: [
                    {
                      href: '#void',
                      label: 'Sub-item One'
                    },
                    {
                      href: '#void',
                      label: 'Sub-item Two'
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    ...mapState([
      'isOverlayVisible',
      'isLayoutBoxed',
      'isLayoutAsideHidden',
      'isLayoutMobile'
    ])
  },
  created () {
    this.$store.commit('user', {
      name: 'Lionel VEST',
      email: 'lionel.vest@adaris.org',
      avatar: 'https://adaris.org/vest.png'
    })
  },
  mounted () {
    document.documentElement.classList.remove('has-spinner-active')

    if (document.location.search.indexOf('iframe-preview-mode') > -1) {
      this.$store.commit('iframePreviewMode', true)
    }
  },
  methods: {
    menuClick (item) {
      if (item.menuSecondary) {
        this.menuSecondary = item.menuSecondary
        this.menuSecondaryLabel = item.menuSecondaryLabel ? item.menuSecondaryLabel : null
        this.menuSecondaryIcon = item.menuSecondaryIcon ? item.menuSecondaryIcon : null

        this.$store.commit('asideActiveForcedKeyToggle', item)
        this.$store.commit('overlayToggle', true)
      } else if (item.action && item.action === 'logout') {
        this.$buefy.toast.open({
          message: 'Log out clicked',
          type: 'is-danger',
          queue: false
        })
      }
    },
    menuSecondaryClose () {
      this.menuSecondary = this.menuSecondaryLabel = this.menuSecondaryIcon = null
      this.$store.commit('asideActiveForcedKeyToggle', null)

      if (!this.isLayoutAsideHidden) {
        this.$store.commit('overlayToggle', false)
      }
    },
    overlayClick () {
      if (this.menuSecondary) {
        this.menuSecondaryClose()
      } else {
        this.$store.dispatch('asideCloseAll')
      }
    }
  },
  watch: {
    isLayoutMobile (newVal) {
      if (newVal) {
        this.$store.commit('layoutBoxedToggle', false)
      }
    }
  }
}
</script>
