.b-sidebar {
  height: 100%;
  width: 0px;
  transition: width 0.25s;
  .sidebar-content {
    width: auto;
    white-space: nowrap;
  }
  &.is-calendar-expanded {
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      width: 100vw;
    }
    width: 380px;
  }
}

.config-box-left {
  display: block;
  position: fixed;
  top: 4rem;
  background: $white;
  border-top-right-radius: $radius-large;
  border-bottom-right-radius: $radius-large;
  border-top: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
  box-shadow: $box-shadow;
  z-index: 10;
  text-align: center;
}

.trigger {
  cursor: pointer;
}

.calendar-sidebar {
  height: 100%;
  width: 100%;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .calendar-sidebar {
      display: none;
      padding-left: 0px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    margin: 4px;
    padding-left: 8px;
  }

  section {
    padding: 12px 24px;
  }

  h2 {
    padding-bottom: 8px;
    font-size: 1.5rem;
  }
}
