.datepicker {
  &.is-tiny {
    font-size: 0.75rem;

    .dropdown-content {
      border: 1px solid $grey-lighter;
    }
    .datepicker-header select {
      padding-left: 5px;
      padding-right: 30px;
      height: 32px;
      margin: 4px;
      font-size: 0.9rem;
    }
    .datepicker-header a {
      padding: 0px;
      min-width: 0px;
      font-size: 0.8rem;
    }
    .datepicker-table {
      padding: 0;
      .datepicker-cell {
        padding: 0.2rem 0.6rem;
        font-size: 0.9rem;
      }
    }
  }
}
