.fc-toolbar-chunk {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 40px;
}

.fc-button-group {
  margin-right: 40px;
}

.fc-toolbar-chunk button {
  background: $turquoise !important;
  color: #ffffff !important;
  border: 1px solid $body-background-color !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  background: $body-background-color;
  padding-bottom: 1.5em;
  margin-bottom: 0 !important;
}

.fc-theme-standard {
  background: #fff;
  font: normal 1rem Roboto !important;
}

.fc-event-main span {
  font: normal 0.8rem Roboto !important;
}

.fc .fc-scrollgrid-sync-inner {
  text-align: center;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(40, 255, 133, 0.1) !important;
}

.fc-timegrid-col.fc-day-today {
  background-color: rgba(40, 255, 133, 0.1) !important;
}

.fc .fc-button:disabled {
  opacity: 0.4 !important;
}

@include mobile {
  .fc-header-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .fc-button-group {
    margin-right: 0;
  }
}
