/* We'll need some initial vars to use here */
@import '~bulma/sass/utilities/initial-variables';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i';

/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Default font */
$family-sans-serif: 'Roboto', sans-serif;

/* Base color */
$base-color: #2e323a;
$base-color-light: rgba(24, 28, 33, 0.25);

/* General overrides */
$primary: $turquoise;
$body-background-color: #f0f0f0;
$link: $blue;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;

/* NavBar: Bulma override */
$navbar-item-color: $grey;
$navbar-item-active-background-color: $white-bis;
$navbar-height: 2.75rem !default;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 4px 4px rgba(24, 28, 33, 0.14);
$navbar-item-h-padding: $default-padding * 0.75;
$navbar-divider-border: 0px solid rgba($grey-lighter, 0.25);
$navbar-update-mark-color: $red;
$navbar-avatar-size: 1.5rem;

/* Aside: Bulma override */
$menu-item-radius: 0;
$menu-list-link-padding: $size-base * 0.5 0;
$menu-label-color: lighten($base-color, 25%);
$menu-item-color: lighten($base-color, 30%);
$menu-item-hover-color: $white;
$menu-item-hover-background-color: darken($base-color, 3.5%);
$menu-item-active-color: $white;
$menu-item-active-background-color: darken($base-color, 2.5%);

/* Aside: specifics */
$aside-width: $size-base * 15;
$aside-collapsed-width: $size-base * 3;
$aside-mobile-width: $size-base * 15;
$aside-right-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * 0.95;
$aside-box-shadow: 4px 0px 4px rgba(24, 28, 33, 0.14);
$aside-background-color: $base-color;
$aside-tools-background-color: darken($aside-background-color, 10%);
$aside-tools-color: $white;
$aside-dropdown-background-color: darken($aside-background-color, 1.5%);

/* Aside Secondary Submenu: specifics */
$aside-secondary-background-color: lighten($aside-background-color, 5%);
$aside-secondary-item-active-background-color: lighten(
  $aside-secondary-background-color,
  2.5%
);
$aside-secondary-item-hover-background-color: lighten(
  $aside-secondary-background-color,
  5%
);
$aside-secondary-tools-background-color: darken(
  $aside-secondary-background-color,
  5%
);
$aside-secondary-box-shadow-mobile: -2px 0 5vw $black;
$aside-secondary-dropdown-background-color: darken(
  $aside-secondary-background-color,
  1.5%
);

/* Title Bar: specifics */
$title-bar-color: $grey;
$title-bar-active-color: $black-ter;

/* Hero Bar: specifics */
$hero-bar-background: $white;
$hero-bar-main-background-image: url('~@/assets/trianglify-bw-50@2x.png');
$hero-avatar-size: $size-base * 10;

/* Card: Bulma override */
$card-shadow: none;
$card-header-shadow: none;

/* Card: specifics */
$card-border: 1px solid $base-color-light;
$card-header-border-bottom-color: $base-color-light;
$card-height-medium: 65vh;

/* Table: Bulma override */
$table-cell-border: 1px solid #f4f4f4;
$table-striped-row-even-background-color: #f6f6f6;
$table-cell-padding: 10px 0px;

/* Table: specifics */
$table-avatar-size: $size-base * 1.5;
$table-avatar-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid $base-color;

/* Modal card: Bulma override */
$modal-z: 60;
$modal-card-head-background-color: $white-ter;
$modal-card-title-size: $size-base;
$modal-card-body-padding: $default-padding 20px;
$modal-card-head-border-bottom: 1px solid $white-ter;
$modal-card-foot-border-top: 0;

/* Modal card: specifics */
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;
$modal-card-foot-background-color: $white-ter;

/* Notification: Bulma override */
$notification-padding: $default-padding * 0.75 $default-padding;

/* Footer: Bulma override */
$footer-background-color: $white;
$footer-padding: $default-padding * 0.33 $default-padding;

/* Footer: specifics */
$footer-logo-height: $size-base * 2;

/* Progress: Bulma override */
$progress-bar-background-color: $grey-lighter;

/* Overlay: specifics */
$overlay-background-color: rgba($white, 0.75);

/* Error Page */
$error-page-icon-background-color: $grey-lighter;
$error-page-caption-color: $grey-light;
$error-page-icon-size: $size-base * 10;

/* Icon: specifics */
$icon-update-mark-size: $size-base * 0.5;
$icon-update-mark-color: $yellow;

/* Status/State colors (based on Bulma's).  Used with menu-items */
$state-colors: ('primary', $turquoise, $white), ('info', $cyan, $white),
  ('success', $green, $white), ('warning', $yellow, $grey-darker),
  ('danger', $red, $white), ('dark', $grey-darker, $white),
  ('white', $white, $black-ter);

/* Perfect Scrollbar */
$ps-rail-background-color: transparent;
$ps-thumb-background-color: #aaa;
$ps-thumb-active-background-color: #999;

/* Spinkit */
$spinkit-spinner-color: $grey-lighter;
$spinkit-size: 80px;
